{
  "rules": {
    // require function expressions to have a name
    "func-names": 0,
    // specify the maximum length of a line in your program
    "max-len": 0,
    // disallow usage of expressions in statement position
    "no-unused-expressions": 0,
    // suggest using arrow functions as callbacks
    prefer-arrow-callback: 0
  }
}